<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.diagrams.svg">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="dita.conductor.lib.import" file="lib/extensions.jar"  xml:base="."/>
  <feature extension="dita.conductor.lib.import" file="lib/plantuml.jar"  xml:base="."/>
  
  <feature extension="dita.xsl.xhtml" value="xsl/xhtmlSVG.xsl" type="file"/>
  <feature extension="dita.conductor.xhtml.param" value="params.xml" type="file"/>
  <feature extension="dita.xsl.html5" value="xsl/xhtmlSVG.xsl" type="file"/>
  <feature extension="dita.conductor.html5.param" value="params.xml" type="file"/>
  
  <feature extension="dita.xsl.xslfo" value="xsl/pdfSVG.xsl" type="file"/>
  <feature extension="dita.conductor.pdf2.param" value="params.xml" type="file"/>
</plugin>
